<div class="register-container">
  <ng-lottie *ngIf="isBiggerThanTablet" height="85vh" [options]="animationOptions"></ng-lottie>
  <div class="register-form">
    <h1 class="title">Create an account</h1>
    <div class="separator-container">
      <div class="separator"></div>
      <div class="separator-text">or</div>
      <div class="separator"></div>
    </div>
    <form>
      <div class="register-names">
        <idatis-input title="First Name" placeholder="First Name"></idatis-input>
        <idatis-input title="Last Name" placeholder="Last Name"></idatis-input>
      </div>
      <idatis-input title="Email" type="email" placeholder="Email"></idatis-input>
      <idatis-input title="Password" placeholder="Password" type="password"></idatis-input>
      <idatis-button text="Create account"></idatis-button>
    </form>
    <p>By registering, you agree with your
      <idatis-link text="Terms of Use" href="">Terms of Use</idatis-link> and
      <idatis-link href="" text="Privacy Policy"></idatis-link>.</p>
  </div>
</div>

