.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .register-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;

    .register-names {
      width: 100%;
      display: flex;
      justify-content: space-between;

      idatis-input {
        width: 48%;
      }
    }

    idatis-input {
      width: 100%;
    }

    idatis-button {
      width: 100%;
    }
  }
}
