.register-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .register-form {
    width:33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;

    .title {
      text-align: center;
    }

    .register-names {
      width: 100%;
      display: flex;
      justify-content: space-between;

      idatis-input {
        width: 48%;
      }
    }

    idatis-input {
      width: 100%;
    }

    idatis-button {
      width: 100%;
    }

  .separator-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;

    .separator {
      border: none;
      border-bottom: 1px solid #DCDCDC;
      width: 40%;
       }

     .separator-text {
       padding: 0 0.5rem 0 0.5rem;
       }
     }
  }

  @media (max-width: 1023px) {
    .register-form {
      width: 100%;
    }
  }
}
