<div class="register-container">
  <ng-lottie *ngIf="isBiggerThanTablet" height="85vh" [options]="animationOptions"></ng-lottie>
  <div class="register-form">
    <div class="title">Create an account</div>
    <div class="login">Already have an account? <idatis-link routerLink="/login">Login</idatis-link></div>
    <div class="social-icons">
      <idatis-link href="https://www.facebook.com/"><idatis-icon icon="facebook"></idatis-icon></idatis-link>
      <idatis-link href="https://accounts.google.com/"><idatis-icon icon="google"></idatis-icon></idatis-link>
      <idatis-link href="https://appleid.apple.com/sign-in"><idatis-icon icon="apple"></idatis-icon></idatis-link>
    </div>
    <div class="separator-container">
      <div class="separator"></div>
      <div class="separator-text">or</div>
      <div class="separator"></div>
    </div>
    <form>
      <div class="register-names">
        <idatis-input label="First Name" placeholder="First Name"></idatis-input>
        <idatis-input label="Last Name" placeholder="Last Name"></idatis-input>
      </div>
      <idatis-input label="Email" type="email" placeholder="Email"></idatis-input>
      <idatis-input label="Password" placeholder="Password" type="password"></idatis-input>
      <idatis-button text="Create account"></idatis-button>
    </form>
    <div class="register-footer">By registering, you agree with ours
      <idatis-link href="">Terms of Use</idatis-link> and
      <idatis-link href="">Privacy Policy</idatis-link>.</div>
  </div>
</div>

